
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h5 class="modal-title" id="exampleModalLabel">@Title Branch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" ></button>
            </div>
        
            <div class="modal-body">
                
                <div style="padding: 1rem 0px;">
                    <div class="card-content">
                        
                           
                                    <EditForm Model="Branch" Enhance OnValidSubmit="SubmitCardDetails"class="row g-3">
                                        <DataAnnotationsValidator />
                                            <AlertComponent  />   
                                            
                                                <div class="card-container">
                                                   <BranchInformationComponent Departments="departments" branch="Branch"/>
                                                </div>
                                                  
                                        <button type="submit" class="btn btn-primary col-5 ">@Title Branch</button>
                                    </EditForm> 
                                   
                                             
                                              
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@code
{
    [Parameter]
    public Branch Branch { get; set; } = new();

    [Parameter]
    public string Title { get; set; } = string.Empty;

    public List<Branch> Branches { get; set; } = new();
    public List<Department> departments { get; set; } = new();
    [Parameter]
    public EventCallback<List<Branch>>OnLoadingNewBranches{ get; set; }
    bool successCheck;
    string? message;

    protected async override Task OnInitializedAsync()
    {

        await GetDepartments();


    }
    private async Task GetDepartments()
    {
        departments = await departmentService.GetAll(Constants.DepartmentBaseUrl);
    }
    private async Task GetBranches()
    {
        Branches = await branchService.GetAll(Constants.BranchBaseUrl);
    }
    public  async Task SubmitCardDetails()
    {

        if(Branch.Id>0)
        {
            var result =await  branchService.Update(Branch, Constants.BranchBaseUrl);
            successCheck =result.Flag;
          
            if (successCheck) message = "Branch Updated Successfully";

            message = result.Message;

            await GetBranches();
            await OnLoadingNewBranches.InvokeAsync(Branches);
        }
        else
        {
            var result =await  branchService.Insert(Branch, Constants.BranchBaseUrl);
            successCheck = result.Flag;
            if (successCheck) message = "A new Branch Added Successfully";
            message =result.Message;
            await GetBranches();
            await OnLoadingNewBranches.InvokeAsync(Branches);

        }


        AllState.TriggerAlert(successCheck,message);

        if((bool)successCheck)
        {

            Branch = new();
            Title = "Add";
        }

    }
}
