
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h5 class="modal-title" id="exampleModalLabel">@Title Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" ></button>
            </div>
        
            <div class="modal-body">
               
                <div style="padding: 1rem 0px;">
                    <div class="card-content">
                        
                           
                                    <EditForm Model="generalDepartment" Enhance OnValidSubmit="SubmitCardDetails"class="row g-3">
                                        <DataAnnotationsValidator />
                                            <AlertComponent  />   
                                            
                                                <div class="card-container">
                                                     <GeneralDepartmentInformationComponent generalDepartment="generalDepartment"/>
                                                </div>
                                                  
                                        <button type="submit" class="btn btn-primary col-5 ">@Title General Department</button>
                                    </EditForm>
                                   
                                             
                                              
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@code
{
    [Parameter]
    public GeneralDepartment generalDepartment { get; set; } = new();
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<List<GeneralDepartment>>OnLoadingNewGeneralDepartments{ get; set; }

        public List<GeneralDepartment> generalDepartments { get; set; } = new();
    bool successCheck;
    string? message;
     private async Task GetGeneralDepartments()
    {
        generalDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
    }
    public  async Task SubmitCardDetails()
    {


        if(generalDepartment.Id>0)
        {
            var result =await  generalDepartmentService.Update(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck =result.Flag;

            if (successCheck) message = "General Department Updated Successfully";

            message = result.Message;
            await GetGeneralDepartments();
            await OnLoadingNewGeneralDepartments.InvokeAsync(generalDepartments);
        }
        else
        {
            var result =await  generalDepartmentService.Insert(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = result.Flag;
            if (successCheck) message = "A new General Department Added Successfully";
            message =result.Message;
            await GetGeneralDepartments();
            await OnLoadingNewGeneralDepartments.InvokeAsync(generalDepartments);
        }

        AllState.TriggerAlert(successCheck,message);


        if((bool)successCheck)
        {

            generalDepartment = new();
          
        }

    }
}
