
<div>
    <label for="Fn" class="form-label"> Vacation Type </label>
    <InputText id="Fn" @bind-Value="vacationType!.Name" class="form-control" />
    <div class="cus-error" style="color:red">
        <ValidationMessage For="@(() => vacationType!.Name)" class="field-validation-error" />
    </div>

</div>



@code {
    
    [Parameter]
    public VacationType? vacationType { get; set; } = new();

    

}