@typeparam TItem
<div class="form-group">
    <label>@Label</label>
    <select class="form-select" @bind="SelectedItemId" @onclick="OnSelectedItemChanged">
        <option value="">Select...</option>
        @foreach (var item in Items)
        {
            <option value="@GetItemId(item)">@GetItemName(item)</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();

    [Parameter]
    public Func<TItem, int> GetItemId { get; set; } = default!;

    [Parameter]
    public Func<TItem, string> GetItemName { get; set; } = default!;

   
    public int SelectedItemId { get; set; } 

    [Parameter]
    public EventCallback<int> SelectedItemIdChanged { get; set; }

    private async Task OnSelectedItemChanged()
    {
        if(SelectedItemId>0)
        await SelectedItemIdChanged.InvokeAsync(SelectedItemId);
    }
}
