

  <div class="card-footer">
      <button class="btn btn-danger btn-sm fw-bold w-100" @onclick="LogoutClicked">
          <i class="bi bi-box-arrow-left"></i>
          Logout
     </button>
  </div>
@code {
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/identity/account/login",replace:true, forceLoad: true);
    }
}
