<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary" @onclick="EmployeeClicked">
                <div class="card-header">
                    <i class="bi bi-people text-primary">
                    </i>
                    Employees
                 
                </div>
            </div>
        </div>

        <div class="col-lg-2 cursorStyle">
            <div class="card border-success" @onclick="VacationClicked">
                <div class="card-header">
                    <i class="bi bi-backpack3 text-success">
                    </i>
                    Vacation
                </div>
            </div>
        </div>

        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger" @onclick="OvertimeClicked">
                <div class="card-header">
                    <i class="bi bi-stopwatch text-danger">
                    </i>
                    Overtime
                </div>
            </div>
        </div>

        <div class="col-lg-2 cursorStyle" @onclick="HealthClicked">
            <div class="card border-warning">
                <div class="card-header">
                    <i class="bi bi-hospital text-warning">
                    </i>
                    Doctor
                </div>
            </div>
        </div>
        
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info" @onclick="SanctionClicked">
                <div class="card-header">
                    <i class="bi bi-x-octagon text-info">
                    </i>
                    Sanctions
                    @{
                        int x = 0;
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info" @onclick="DepartmentClicked">
                <div class="card-header">
                    <i class="bi bi-x-octagon text-info">
                    </i>
                    Department
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    void EmployeeClicked() => AllState.EmployeeClicked();
    void HealthClicked() => AllState.DoctorClicked();
    void VacationClicked() => AllState.VacationClicked();
    void SanctionClicked() => AllState.SanctionClicked();
    void OvertimeClicked() => AllState.OvertimeClicked();
    void DepartmentClicked() => AllState.DepartmentClicked();
}
